# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.env.*
!.env.example

# Next.js / React
.next/
out/
build/
dist/

# Misc
.DS_Store
*.pem
*.log
.vercel
*.tsbuildinfo

# Docker
.dockerignore
